.header{
    display: flex;
    justify-content: space-between;
}
.button{
    text-align: center;    
}
/* .footer{
    height: 200px;
    width: 100%;
} */
ul{
    padding: 10px;
    
}
li{
    display: inline-block;
}
br{
    margin: 100px;
}
.image{
    width: 40px;
    height: 40px;

}
.hh{
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 600;
    padding: 20px;
}
.card img{
    height: 30vh;
    object-fit: cover;
}